body {
  margin: 0;
  background-color: #eded;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.container > h1 {
  color: gray;
  font-size: 3em;
  font-family: sans-serif;
}

.post {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
